/* cyrillic-text */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v14/DXI1ORHCpsQm3Vp6mXoaTa-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v14/DXI1ORHCpsQm3Vp6mXoaTZX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v14/DXI1ORHCpsQm3Vp6mXoaTT0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v14/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v14/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v14/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v14/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v14/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v14/MTP_ySUJH_bn48VBG8sNSq-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v14/MTP_ySUJH_bn48VBG8sNSpX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v14/MTP_ySUJH_bn48VBG8sNSj0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v14/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
    padding: 0;
    margin: 0;
    font: 300 18px 'Open Sans', 'Arial';
    line-height: 1.6em;
    color: #353535;
}

a {
    cursor: pointer;
    color: #4aaaf3;
    padding-bottom: .08em;
    text-decoration: none
}

h3 { 
    font-size: 2em; 
    font-weight: 300; 
    text-align: center
}

div.button {
    display: block;
    text-align: center;
    border: 1px solid rgba(32, 32, 32, 0.2);
    border-radius: 3px;
    padding: 10px 0;
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(192, 192, 192, 0.6);
    transition: border .2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
    color: #fff;
    min-width: 8.88em;
    font-weight: 400;
}

    div.button[disabled] {
        cursor: default;
        background: #eee !important;
        border-color: #e4e4e4 !important;
        box-shadow: none;
        color: #c1c1c1;
    }

        div.button[disabled]:active {
            background: #eee !important;
            border-color: #e4e4e4 !important;
            box-shadow: none!important;
        }

    div.button.small 
    {
        padding: 4px 8px;
        font-size: .88em;   
    }

    div.button:active {
        border-color: rgba(32, 32, 32, 0.1);
        box-shadow: 0 10px 19px rgba(192, 192, 192, .9)!important;
    }

    div.button.green {
        background-color: #51bb8d;
    }

    div.button.green:hover {
        background-color: rgba(81, 187, 141, .9);
    }

.chart ._holder .__results .___chart .___total {
    position: absolute;
    margin-left: 3.5777em;
    margin-top: 58px;
    font-size: 1.52em;
    line-height: 1;
    font-weight: 300;
    width: 120px;
    text-align: center;
}

div.left {
    float:left;
}

div.right {
    float:right
}

div.clear {
    clear:both;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.___code {
    padding: .233em .4em;
    margin: .13em 0 .9em;
}

    .___code.warn {
        background: rgba(204, 143, 17, 0.20);
        color: rgb(204, 143, 17);
    }

    .___code.ok {
        background: rgba(106, 204, 17, 0.2);
        color: rgb(106, 204, 17);
    }

    .___code.bad,
    .___code.error {
        background: rgba(218, 12, 12, 0.2);
        color: rgb(167, 3, 3);
    }

.___doughnut {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    margin: 0 auto;
}

#vapp {
    opacity: .0;
    margin-top: 5%;
    -webkit-animation: bubslideinle 1.0s forwards; /* for less modern browsers */
            animation: slidein 1.0s forwards;
}

@keyframes slidein {
    0% {
        margin-top: 0;
    }

    15% {
        margin-top: 0;
    }

    55% {
        opacity: .01;
    }

    100% {
        opacity: 1;
        margin-top: 10%;
    }
  }

.__bar {
    width: 14px;
    height: 14px;
    margin: 6px 2px 0 0;
    border: 2px solid #E6E6E6;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    top: 4px;
}

    .__bar.dns {
        background-color: #808e95
    }

    .__bar.connection {
        background-color: #f16565
    }

    .__bar.sslhandshake {
        background-color: #fde77b
    }

    .__bar.timetofirstbyte {
        background-color: #b48fff
    }

    .__bar.contentdownload {
        background-color: #7caaf8
    }
