<!DOCTYPE html>
<html>

<head>
    <title>
        {{.Title}}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/content/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    <script src="/content/utils.js?3423adasd423"></script>
    <script src="/content/chartjs.min.js?edadsasre"></script>
    <script src="/content/chartjs_utils.js?easdase"></script>
    <script>
        cooldownDelay = {{.Cooldown}}
    </script>
</head>

<body class="test">

    <div id="vapp">
        <div style="min-width: 1024px; max-width: 1248px; width: 61%; margin: 0 auto;">
            <div class="__content">
                <div id="a1" class="checksite_container">
                    <div v-bind:class="checkOtherSiteInited ? '_wrapper _a' : '_wrapper'">
                        <div class="__input_wrapper">
                            <div class="___w3webicon"></div>
                            <h3>Проверить <span>www.tn.ru</span></h3>
                            <div style="margin: 1.5em 0">
                                Будет выполнено три http-запроса сайта <a href="https://www.tn.ru/" target="_blank">www.tn.ru</a> с использованием узлов, расположенных в: Нидерланды, Харлем (EvoSwitch), Москва (M9) и Казань (IT-Park).<br/>
                                Каждый полученный ответ будет разделен на этапы, для каждого этапа будет вычесленно затраченное время - это позволит определить доступен ли <a href="https://www.tn.ru/" target="_blank">www.tn.ru</a> и скорость ответа
                            </div>
                        </div>
                        <div>
                            <div @click="onTrialCheck_click" class="button green" :disabled="trialCheckCooldown != 0">Проверить</div>
                            <div style="font-weight: 400; font-size: .8em; color: #7d7d7d; margin: .7em 0 0;">
                                <span v-html="trialCheckCooldown ? 'осталось ' + trialCheckCooldown + ' сек.' : ''"></span>
                            </div>
                        </div>
                    </div>
                    <div class="chart">
                        <div class="_holder">
                                <div v-for="(o, i) in trialCheckResults">
                                    <div class="left" style="width: 32.9999%; padding: .33333em 0; margin-right: .1888em;">
                                        <div style="margin-top: .333em; width: 100%;">
                                            <div style="margin-bottom: .666em">
                                                <div class="left">
                                                    <div style="line-height: 1.8em; color: #928c8c;" v-html="o.CheckingSource"></div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                            <div v-if="!o.ErrorCaused">
                                                <div v-html="'HTTP ' + o.ResponseCode + ' ' + o.ResponseCodeInfo" :class="['___code',o.ResponseCodeGroup]"></div>
                                                <div style="position: absolute; margin-left: 4.777em; margin-top: 58px; font-size: 1.52em; line-height: 1; font-weight: 300; width: 120px; text-align: center;" v-html="calculateSiteCheckTotalDelay(o, i)"></div>
                                                <canvas :id="'doughnutOther' + i" class="___doughnut" style="width:213px; height:160px;"></canvas>
                                            </div>
                                            <div v-else>
                                                <div class="___code error" v-html="'NO RESPONSE'"></div>
                                                <div class="___error" v-html="o.ErrorDescr"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div v-if="((i + 1)% 3 == 0)" class="clear"></div>


                                </div>

                                <div v-if="trialCheckResults && trialCheckResults.length % 3 > 0" class="clear"></div>

                                <div class="__legend" v-if="trialCheckResults && trialCheckResults.length">
                                    <div class="left">
                                        <div class="__bar dns"></div>
                                        <span class="___margin">Поиск DNS</span>
                                    </div>
                                    <div class="left">
                                        <div class="__bar connection"></div>
                                        <span class="___margin">Установка соединения с узлом</span>
                                    </div>
                                    <div class="left">
                                        <div class="__bar sslhandshake"></div>
                                        <span class="___margin">Установка безопасного (SSL) соединения</span>
                                    </div>
                                    <div class="left">
                                        <div class="__bar timetofirstbyte"></div>
                                        <span class="___margin">Загрузка первого байта</span>
                                    </div>
                                    <div class="left">
                                        <div class="__bar contentdownload"></div>
                                        <span class="___margin">Загрузка всего контента</span>
                                    </div>
                                    <div class="clear"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


<header style="
position: absolute;
top: 0;
background: #eaeaea;
width: 100%; font-size: .8em;">
    <div class="right" style="text-align: right; padding: 10px 0; padding-right: 10px;">
        {{.Runtime}}, <a href="https://gitlab.com/smuzi_top/go_warmup">github</a>
    </div>
</footer>
</body>
<script>

function DoughnutInitialize(chartHtmlElement, chartData) {

    if (!chartHtmlElement ||
        !chartData)
        return null;

    var labels = [];

    if (chartData.DelaySsl) {
        labels = [
            'Поиск DNS: ' + chartData.DelayDns + ' мс.',
            'Соединение: ' + chartData.DelayInitialConnect + ' мс.',
            'Установка SSL-соединени: ' + chartData.DelaySsl + ' мс.',
            'Загрузка первого байта: ' + chartData.DelayFirstByte + ' мс.',
            'Загрузка всего контента: ' + chartData.DelayContentDownload + ' мс.'
        ];
    } else {
        labels = [
            'Поиск DNS: ' + chartData.DelayDns + ' мс.',
            'Соединение: ' + chartData.DelayInitialConnect + ' мс.',
            'Установка SSL-соединени: 0 мс.',
            'Загрузка первого байта: ' + chartData.DelayFirstByte + ' мс.',
            'Загрузка всего контента: ' + chartData.DelayContentDownload + ' мс.'
        ];
    }

    var chartOptions = {
        type: 'doughnut',
        data: {
            datasets: [{
                data: this.DoughnutCalculateResultShares(chartData),
                backgroundColor: ['#f7f7f7']
            }],
            labels: labels
        },
        options: {
            responsive: false,
            legend: {
                display: false
            },
            title: {
                display: false
            },
            tooltips: {

                callbacks: {							
                    label: function (tooltipItem, data) {
                        
                        if (!data ||
                            !data.labels ||
                            !data.labels.length || 
                            !tooltipItem ||
                            tooltipItem.index > data.labels.length) {
                            return '';
                        }

                        return data.labels[tooltipItem.index];
                    }
                },
                titleFontStyle: 'normal',
                footerSpacing: 0,
                titleSpacing: 0,
                //backgroundColor: '#FFF',
                //titleFontSize: 16,
                //titleFontColor: '#0066ff',
                //bodyFontColor: '#000',
                //bodyFontSize: 14,
                //displayColors: false
                                
            },
            animation: {
                animateScale: false,
                animateRotate: true
            },
            cutoutPercentage: 80
        },
    };

    return new Chart(chartHtmlElement.getContext("2d"), chartOptions);
};

function DoughnutCalculateResultShares(checkResult) {

    if (!checkResult)
        return 0;

    var total = checkResult.DelayDns + checkResult.DelayInitialConnect + checkResult.DelaySsl + checkResult.DelayFirstByte + checkResult.DelayContentDownload;

    return [
        (total * .01 * (checkResult.DelayDns)) | 0,
        (total * .01 * (checkResult.DelayInitialConnect)) | 0,
        (total * .01 * (checkResult.DelaySsl)) | 0,
        (total * .01 * (checkResult.DelayFirstByte)) | 0,
        (total * .01 * (checkResult.DelayContentDownload)) | 0];
    };

function DoughnutColorizeResultShares () {

    var chartColors = {
        lightgray: '#f3f3f3',
        gray: '#808e95',
        red: '#f16565',
        yellow: '#fde77b',
        purple: '#b48fff',
        blue: '#7caaf8'
    };

    return [
        chartColors.gray,
        chartColors.red,
        chartColors.yellow,
        chartColors.purple,
        chartColors.blue,
    ];

};

function DoughnutTopCustomerInitialize(chartHtmlElement, datasets) {

    if (!chartHtmlElement)
        return;

    var chartOptions = {
        type: 'doughnut',
        data: {
            datasets: datasets
        },
        options: {
            responsive: false,
            legend: {
                display: false
            },
            title: {
                display: false
            },
            tooltips: {
                enabled: false
            },
            animation: {
                animateScale: false,
                animateRotate: true
            },
            
            cutoutPercentage: 68
        }
    };

    new Chart(chartHtmlElement.getContext("2d"), chartOptions);

};

function CheckResult(data) {

    this.CheckingSource = null;

    this.ResponseCode = null;

    this.ResponseCodeInfo = null;

    this.ResponseCodeGroup = null;

    this.DelayDns = 0;

    this.DelayInitialConnect = 0;

    this.DelaySsl = 0;

    this.DelayFirstByte = 0;

    this.DelayContentDownload = 0;

    this.FromCache = false;

    this.ErrorCaused = false;

    this.ErrorDescr = null;

    this.Doughnut = {};

    if (data) {

        this.CheckingSource = (data.node ? data.node.name : '');

        this.ResponseCode = data.responseCode;

        if (this.ResponseCode) {

            var httpCodeFirstDigit = (this.ResponseCode + '')[0] * 1;

            switch (httpCodeFirstDigit) {

                //1xx codes - info 
                case 1:
                    this.ResponseCodeGroup = 'warn';
                    this.ResponseCodeInfo = 'INFO';
                    break;

                //2xx codes - OK
                case 2:
                    this.ResponseCodeGroup = 'ok';
                    this.ResponseCodeInfo = 'OK';
                    break;

                //3xx codes - redirection
                case 3:
                    this.ResponseCodeGroup = 'warn';
                    this.ResponseCodeInfo = 'REDIRECT';
                    break;

                //client / sever / uknown fault
                case 4:
                    this.ResponseCodeGroup = 'bad';
                    this.ResponseCodeInfo = 'ERROR';
                    break;

                case 5:
                default:
                    this.ResponseCodeGroup = 'bad';
                    this.ResponseCodeInfo = 'SERVER ERROR';
                    break;
            }

        } else {            
            this.ResponseCodeInfo = 'ERROR';
            this.ResponseCodeGroup = 'bad';
        }

        this.DelayDns = (data.delayDns ? data.delayDns : 0);

        this.DelayInitialConnect = (data.delayInitialConnect ? data.delayInitialConnect : 0);

        this.DelaySsl = (data.delaySsl ? data.delaySsl : 0);

        this.DelayFirstByte = (data.delayFirstByte ? data.delayFirstByte : 0);

        this.DelayContentDownload = (data.delayContentDownload ? data.delayContentDownload : 0);

        this.FromCache = data.FromCache;

        this.ErrorCaused = data.Error;

        this.ErrorDescr = data.ErrorDescription;

    }

    return this;

}

    window.document.addEventListener("DOMContentLoaded", function () {

        new Vue({
            el: '#vapp',
            created: function () {

                if (cooldownDelay) {

                    this.startCheckCooldown(cooldownDelay);

                }                

            },
            data: {

                checkOtherSiteInited: false,
                otherSiteUseSsl: 1,
                otherSiteUrl: "",
                otherSiteUrlValid: true,
                otherSiteUrlValidReason: '',
                otherSiteDataLoaded: false,
                otherSiteBeingChecked: false,

                trialCheckResults: [],
                trialCheckCompleted: true,

                trialCheckCooldown: 0,
                trialCheckCooldownHandlerId: 0,

            },
            methods: {

                startCheckCooldown(cooldownDelay) {

                    var that = this;

                    this.trialCheckCooldown = cooldownDelay ? cooldownDelay : 30;

                    this.trialCheckCooldownHandlerId = window.setInterval(function () {

                        if (!that.trialCheckCooldown) {
                            window.clearInterval(that.trialCheckCooldownHandlerId);
                            return;
                        }

                        that.trialCheckCooldown--;

                    }, 1000);

                },

                /**
                 * Calculate one site's total response delay
                 */
                calculateSiteCheckTotalDelay: function (checkResults) {

                    if (!checkResults)
                        return '';

                    var summ = checkResults.DelayDns +
                        checkResults.DelayInitialConnect +
                        checkResults.DelaySsl +
                        checkResults.DelayFirstByte +
                        checkResults.DelayContentDownload;

                    if (!summ)
                        return '';

                    return summ + '<br/>ms';
                },

                /*
                * Invoke a site's trial check
                */
                onTrialCheck_click: function (event) {

                    // if another checking is being processed - do nothing
                    if (this.otherSiteBeingChecked) {
                        return;
                    }

                    if (this.trialCheckCooldown) {
                        return;
                    }

                    this.otherSiteBeingChecked = true;

                    //check site form HtmlElement
                    var checkSiteFormWrapper = $('#a1');

                    //block form to prevent click-spam on button
                    BlockUI(checkSiteFormWrapper);

                    var that = this;

                    //wait until form become animated (to top) for 164 ms
                    window.setTimeout(function () {
                        
                        that.startCheckCooldown();

                        // Request a check of a target host using all available checking nodes
                        axios
                            .post('/api/checkit', { payload: "https://www.tn.ru" })
                            .then(function (response) {

                                response = response.data;

                                that.otherSiteBeingChecked = false;

                                //animate input field and button padding-top
                                if (!that.checkOtherSiteInited) {
                                    that.checkOtherSiteInited = true;
                                }

                                if (response &&
                                    response.length) {

                                    var _resultDto;

                                    for (var i = 0; i < response.length; i++) {

                                        _resultDto = new CheckResult(response[i]);

                                        that._collapseTrialCheckDoughut(i, _resultDto, function (_i, _r) { that._initTrialCheckDoughut(_i, _r); });

                                    }

                                    that._collapseExtraTrialCheckDoughuts(response.length);

                                } else {

                                    //TODO:
                                    //Show issue alert somehow!

                                }

                                // unblock UI
                                UnblockUI(checkSiteFormWrapper);

                            })
                            .catch(function (error) {

                                console.warn(error);

                                that.otherSiteBeingChecked = false;

                                UnblockUI(checkSiteFormWrapper);

                            })
                            .finally(function () {
                                that.otherSiteBeingChecked = false;
                            });

                    }, 164);
                },

                /**
                 * Inits a particular trial check result Doughut with its checking result
                 * @@param resultNumber
                 * @@param checkResults represents a check result delays (dns, connection, ssl, ttfb, content)
                 */
                _initTrialCheckDoughut: function (resultNumber, checkResults) {

                    if (this.trialCheckResults[resultNumber] === undefined) {
                        this.trialCheckResults.push(checkResults);
                    }

                    Vue.set(this.trialCheckResults, resultNumber, checkResults);

                    var that = this;

                    window.setTimeout(function () {

                        var doughutSelector = '#doughnutOther' + resultNumber;

                        that.trialCheckResults[resultNumber].Doughnut = DoughnutInitialize($(doughutSelector), checkResults);

                        that.trialCheckResults[resultNumber].Doughnut.data.datasets[0].backgroundColor = DoughnutColorizeResultShares();

                        that.trialCheckResults[resultNumber].Doughnut.data.datasets[0].hoverBorderColor = ['#f7f7f7'];

                        that.trialCheckResults[resultNumber].Doughnut.data.datasets[0].borderColor = '#f7f7f7';

                        that.trialCheckResults[resultNumber].Doughnut.update();

                    }, 10);
                },

                /**
                 * Collapses a particular pie-chart's data by setting its data to 0
                 * @@param doughutNumber - a particular test result doughut
                 * @@param checkResults - received check results
                 * @@param onCollapedCallback - do a callback after an animation to init new doughnuts
                 */
                _collapseTrialCheckDoughut: function (doughutNumber, checkResults, onCollapedCallback) {

                    var that = this;

                    var trialCheckResultObjectRef = that.trialCheckResults[doughutNumber];

                    if (trialCheckResultObjectRef &&
                        trialCheckResultObjectRef.Doughnut &&
                        trialCheckResultObjectRef.Doughnut.data &&
                        trialCheckResultObjectRef.Doughnut.data.datasets[0]) {

                        trialCheckResultObjectRef.Doughnut.data.datasets[0].data = [0, 0, 0, 0, 0];

                        trialCheckResultObjectRef.Doughnut.update();

                        window.setTimeout(function () {

                            that.trialCheckResults[doughutNumber] = {};

                            if (onCollapedCallback &&
                                typeof onCollapedCallback == 'function') {
                                onCollapedCallback(doughutNumber, checkResults);
                            }

                        }, 654);

                    } else {

                        if (onCollapedCallback &&
                            typeof onCollapedCallback == 'function') {
                            onCollapedCallback(doughutNumber, checkResults);
                        }

                    }
                },

                /**
                 * If current check attemp returned less amout of results - clear previous extra results
                 * @@param currentCheckResultsLen
                 */
                _collapseExtraTrialCheckDoughuts: function (currentCheckResultsLen) {

                    var prevCheckResultsLen = this.trialCheckResults.length;

                    if (currentCheckResultsLen < prevCheckResultsLen) {

                        this.trialCheckResults.splice(currentCheckResultsLen - 1, prevCheckResultsLen - 1);

                    }

                }
            }
        });

    });

</script>

</html>